<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Discription</title>
</head>
<body>
    <h1>Discription for the site - PASSWORD GENERATER</h1>
    <h2>The site was created by Kaisar Zholdas </h2>
    <h3>What is the website intended for?</h3>
    <p>The site is designed to quickly generate passwords with reliable protections.</p>
    <br>
    <br>
    <br>
    <br>
    <h3>I'm on social media: </h3>
    <ul>
        <li><a href="https://www.instagram.com/kaisar_zholdosh_">Instagram</a></li>
        <li>Telegram</li>
        <li>Facebook</li>
    </ul>
    <br>
    <br>
    <a href="{% url 'home' %}" class="btn btn-info">To Home page</a>
</body>
</html>